:root {
  --darkGreen: rgb(10, 46, 10);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 100;
  padding: 20px 5%;
  transition: all 0.5s ease-out;
  font-family: "Raleway", sans-serif;
}

.header.active {
  background-color: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(20px); */
}

.logo {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-family: "Whisper", cursive;
}

.logo span {
  color: var(--darkGreen);
  font-family: "Whisper", cursive;
}

.social-media {
  margin: 0 auto 0 50px;
}

.social-media a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  text-decoration: none;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
}

.social-media a:hover {
  background-color: #fff;
}

.social-media a i {
  font-size: 20px;
  color: #fff;
  transition: all 0.8s ease-in-out;
}

.social-media a:hover i {
  color: #000;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ham-menu {
  display: none;
}

.hidden {
  display: none;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all 0.6s ease-out;
  opacity: 0;
}

.slide.active img {
  opacity: 1;
}

.slide .left-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform: translateX(-100%);
  transition: 0s;
}

.slide.active .left-info {
  transform: translateX(0);
  z-index: 1;
  transition: all 0.5s ease;
}

.left-info .penetrate-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.penetrate-blur h1 {
  font-size: 185px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.left-info .content {
  position: absolute;
  bottom: 6%;
  left: 10%;
  color: #fff;
}

.content h3 {
  font-size: 13px;
}

.content p {
  font-size: 16px;
  margin: 10px 0 15px;
}

.content .btn {
  display: inline-block;
  padding: 13px 28px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #444;
  text-decoration: none;
  font-weight: 600;
}

.content .btn:hover {
  background-color: transparent;
  color: #fff;
}

.slide .right-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(100%);
  transition: 0s;
}

.slide.active .right-info {
  transform: translateX(0);
  z-index: 1;
  transition: all 0.5s ease;
  /* padding-left: 10px; */
}

.right-info h1 {
  font-size: 185px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.right-info h3 {
  position: absolute;
  font-size: 80px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(150%);
  margin-left: 13px;
}

.navigation {
  position: absolute;
  bottom: 6%;
  right: 5%;
  z-index: 99;
}

.navigation span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-left: 25px;
  transition: all 0.5s ease-in-out;
}

.navigation span:nth-child(1) {
  background-color: transparent;
}

.navigation span:nth-child(1):hover {
  background-color: #fff;
}

.navigation span i {
  font-size: 45px;
  color: #444;
  transition: all 0.5s ease-in-out;
}

.navigation span:nth-child(1) i {
  color: #fff;
}

.navigation span:nth-child(1):hover i {
  color: #444;
}

main {
  font-family: "Nanum Gothic", sans-serif;
  padding: 6rem 0;
  overflow-x: hidden;
}

/* Section - About */

.about {
  padding: 0rem 4rem;
}

.about .about-info {
  text-align: center;
}

.about .about-info h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.about .about-info p {
  font-size: 1.3rem;
  max-width: 50%;
  margin: auto;
}

.about .about-list {
  text-align: center;
  padding: 3rem 0;
}

.about-list .list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.list .list-item {
  padding: 1rem;
  max-width: 50%;
  display: flex;
  gap: 20px;
}

.list-item .item-info {
  display: flex;
  flex-direction: column;
}

.list-item .item-info h4 {
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 1.4rem;
}

.list-item .item-info p {
  font-size: 1.2rem;
  color: #494949;
  max-width: 60%;
  line-height: 30px;
}

.list-item:nth-child(1) .item-info p,
.list-item:nth-child(3) .item-info p {
  align-self: flex-end;
}

.list-item:nth-child(1) .item-info,
.list-item:nth-child(3) .item-info {
  text-align: right;
}

.list-item:nth-child(2) .item-info,
.list-item:nth-child(4) .item-info {
  order: 2;
  text-align: left;
}

.list-item .item-img img {
  width: 260px;
  height: 325px;
  border-radius: 8px;
}

/* Section - Logo Slider */
.logo-slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  padding: 2rem 0;
  background-color: #f1f1f1;
}

.logo-slider .logo-track-one {
  animation: scroll 60s linear infinite;
  display: flex;
  width: calc(250px * 14);
  margin-bottom: 2rem;
}

.logo-slider .logo-track-two {
  animation: scrollRight 60s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.logo-track-one .track-im,
.logo-track-two .track-im {
  height: 100px;
  width: 250px;
  margin: 0 0.5rem;
}

.logo-track-one .track-im img,
.logo-track-two .track-im img {
  height: 100%;
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(calc(-140px * 7));
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(calc(-250px * 7));
  }
  100% {
    transform: translateX(0);
  }
}

/* Section - Destinations */
.destinations {
  padding: 6rem 4rem 3rem 4rem;
}

.destinations h2 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
}

.destinations h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--darkGreen);
  margin: 0.8rem auto 1rem auto;
}

.destinations > p {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 4rem;
  color: #444;
}

.destinations .destination-place {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.destination-place .place-content:nth-child(1) {
  width: 100vw;
  position: relative;
}

.destination-place .place-content:nth-child(1) a {
  display: flex;
}

.destination-place .place-content:nth-child(1) img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.destination-place .place-content:nth-child(1) p {
  align-self: flex-end;
  position: absolute;
  z-index: 1;
  padding: 1.2rem;
  width: 100%;
  color: #000;
  font-size: 3rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: all 0 ease-out;
}

.destination-place .place-content:nth-child(1):hover p {
  opacity: 1;
}

.destination-place .place-content:nth-child(2),
.destination-place .place-content:nth-child(3),
.destination-place .place-content:nth-child(4) {
  flex-basis: 32%;
  overflow: hidden;
  position: relative;
}

.destination-place .place-content:nth-child(2) a,
.destination-place .place-content:nth-child(3) a,
.destination-place .place-content:nth-child(4) a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.destination-place .place-content:nth-child(2) img,
.destination-place .place-content:nth-child(3) img,
.destination-place .place-content:nth-child(4) img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: all 0.5s ease-in;
}

.destination-place .place-content:nth-child(2):hover img,
.destination-place .place-content:nth-child(3):hover img,
.destination-place .place-content:nth-child(4):hover img {
  transform: scale(105%);
}

.destination-place .place-content:nth-child(2) p,
.destination-place .place-content:nth-child(3) p,
.destination-place .place-content:nth-child(4) p {
  position: absolute;
  font-size: 4.5rem;
  font-weight: 500;
  letter-spacing: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 500px;
  opacity: 0;
  transition: all 0.5s ease-out;
  text-transform: uppercase;
}

.destination-place .place-content:nth-child(2):hover p,
.destination-place .place-content:nth-child(3):hover p,
.destination-place .place-content:nth-child(4):hover p {
  opacity: 1;
}

/* Section - Promo */
.promo {
  padding: 0 5rem;
  display: flex;
  align-items: center;
  position: relative;
}

.promo .promo-prev,
.promo .promo-next {
  margin: 0 0.5rem;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  color: #444;
  position: absolute;
}

.promo .promo-prev {
  left: 40px;
  top: 30%;
}

.promo .promo-next {
  right: 40px;
  top: 30%;
}

.promo .promo-prev:hover,
.promo .promo-next:hover {
  background-color: #000;
  color: #fff;
}

.promo .promo-prev i,
.promo .promo-next i {
  font-size: 60px;
  font-weight: 300;
}

.promo .promo-list {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  overflow-x: hidden;
  cursor: pointer;
  scroll-snap-type: x mandatory;
}

.promo-list .list {
  scroll-snap-align: center;
}

.promo-list .list img {
  width: 515px;
  height: 250px;
  border-radius: 10px;
}

.list .list-info {
  padding: 0.5rem 0;
}

.list .list-info h5 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.list .list-info p {
  font-size: 1rem;
  font-weight: 300;
  color: #444;
  letter-spacing: 2px;
}

/* Section - Recomended Place */
.recomended-list {
  padding: 6rem 3rem 0;
}

.recomended-list h2 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.recomended-list h2::after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: var(--darkGreen);
  margin: 1rem auto;
}

.recomended-list .r-info-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recomended-list .r-info-list::before {
  content: "";
  flex-basis: 100%;
  height: 1px;
  margin: 1.5rem auto 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.recomended-list .r-info-list a {
  text-decoration: none;
  color: #444;
  font-size: 1rem;
  font-weight: 300;
  transition: all 0.3s ease-out;
}

.recomended-list .r-info-list a:hover {
  color: #000;
}

.recomended-list .r-info-list a:active {
  color: #000;
  font-weight: 500;
}

.recomended-list .r-info-list a::before {
  content: "";
  margin: 0 auto 0.5rem auto;
  display: block;
  width: 1px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.recomended-list .r-place-list {
  padding: 3rem 5rem;
  max-height: 764px;
  overflow-y: hidden;
  animation: showReverse 0.8s ease-in;
}

.recomended-list .r-place-list.active {
  max-height: 100%;
  animation: show 0.8s ease-out;
}

@keyframes show {
  0% {
    max-height: 764px;
    opacity: 0.8;
  }
  40% {
    max-height: 800px;
    opacity: 0.8;
  }
  80% {
    max-height: 1000px;
    opacity: 0.8;
  }

  100% {
    max-height: max-content;
    opacity: 1;
  }
}

@keyframes showReverse {
  0% {
    max-height: max-content;
    opacity: 1;
  }
  40% {
    max-height: 1000px;
    opacity: 0.8;
  }

  80% {
    max-height: 800px;
    opacity: 0.8;
  }

  100% {
    max-height: 764px;
    opacity: 0.8;
  }
}

.r-place-list .place-list {
  display: none;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 1rem;
  opacity: 0;
  animation: fadeInOut 1s ease-out;
}

.r-place-list .place-list.active {
  opacity: 1;
  display: grid;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    display: none;
    transform: translateY(-10px);
  }

  50% {
    opacity: 0.5;
    display: grid;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    display: grid;
    transform: translateY(0);
  }
}

.place-list .list {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.place-list .list a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.place-list .list img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  transition: all 0.5s ease-out;
  object-fit: cover;
}

.place-list .list:hover img {
  transform: scale(105%);
}

.place-list .list p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  position: absolute;
  align-self: flex-end;
  padding: 2rem;
  text-shadow: 2px 2px #000;
}

.recomended-list .r-show-content {
  padding: 2rem 0;
  text-align: center;
  display: flex;
  align-items: center;
}

.r-show-content span {
  display: none;
  width: 100%;
  height: 1px;
  background-color: var(--darkGreen);
}

.r-show-content span.active {
  display: block;
}

.r-show-content button {
  width: 100%;
  padding: 0.6rem 0;
  border: 1px solid #000;
  border-radius: 6px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
  background-color: var(--darkGreen);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 2;
  display: none;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.r-show-content button:hover {
  background-color: #000;
}

.r-show-content button.active {
  margin: auto;
  display: flex;
}

.r-show-content button a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.r-show-content button i {
  font-size: 1.2rem;
  transform: rotate(45deg);
  animation: rot 1s ease-in;
}

.r-show-content button i.active {
  transform: rotate(0deg);
  animation: rototo 1s ease-in;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes rototo {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Section - News */
.news {
  padding: 5rem 4rem 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.news .news-left {
  flex-basis: 65%;
}

.news-left .left-head {
  padding: 0 0 2rem 0;
}

.news-left .left-head h3 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.news-left .left-head p {
  color: #444;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.news-left .left-body {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}

.left-body .left-body-list {
  flex-basis: 31%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  margin: auto;
}

.left-body .left-body-list img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  transition: all 0.5s ease-out;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.left-body .left-body-list img:hover {
  transform: scale(105%);
}

.news .news-right {
  flex-basis: 40%;
}

.news .news-right h4 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.news-right .news-right-body {
  padding: 1rem 0;
  overflow-y: scroll;
}

.news-right-body .right-body-item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
  margin: 1rem 0;
}

.right-body-item .body-item-img {
  flex-basis: 40%;
  height: 115px;
  border-radius: 6px;
}

.right-body-item .body-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-body-item .body-item-info {
  flex-basis: 60%;
  padding: 0.5rem 0.8rem;
}

.right-body-item .body-item-info a {
  text-decoration: none;
}

.right-body-item .body-item-info h5 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #000;
  margin-bottom: 0.5rem;
}

.right-body-item .body-item-info p {
  font-size: 0.9rem;
  font-weight: 300;
  color: #444;
  /* display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; */
}

/* Section - Contact */
.contact {
  padding: 6rem 6rem 3rem 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.contact-up {
  flex-basis: 100%;
  text-align: center;
  margin: auto;
}

.contact-up h3 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.contact-up h3::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: var(--darkGreen);
  display: block;
  margin: 0.7rem auto;
}

.contact-up p {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: #444;
  width: 50%;
  margin: auto;
}

.contact-left {
  flex-basis: 55%;
}

.contact-left form {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

.contact-left form input,
.contact-left form textarea {
  padding: 0.5rem 0;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease-in;
}

.contact-left form input:focus,
.contact-left form textarea:focus {
  outline: none;
  border-bottom: 2px solid green;
}

.contact-left form input:hover,
.contact-left form textarea:hover {
  border-bottom: 2px solid green;
}

.contact-left form button {
  padding: 0.5rem 0;
  border-radius: 6px;
  background-color: green;
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  transition: all 0.3s ease-in;
}

.contact-left form button:hover {
  background-color: var(--darkGreen);
}

.contact-right {
  flex-basis: 42%;
}

.contact-right-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.contact-right-list > i {
  border: 1px solid #fff;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: green;
  transition: all 0.3s ease-in;
}

.contact-right-list > i:hover {
  background-color: var(--darkGreen);
}

.contact-right-list .right-list-info {
  width: 100%;
}

.contact-right-list .right-list-info h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.contact-right-list .right-list-info p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #444;
}

.contact-right-list .right-list-info i {
  border: 1px solid #000;
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 1.2rem;
  color: #444;
  background-color: transparent;
  margin: 0.3rem;
  transition: all 0.3s ease-in;
}

.contact-right-list .right-list-info i:hover {
  background-color: var(--darkGreen);
  color: #fff;
}

/* Footer */
footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 4rem 6rem 1rem;
  background-image: url(../img/footer/footer-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 1);
}

.footer-left {
  flex-basis: 40%;
  color: #fff;
}

.footer-left .left-info h3 {
  font-family: "Whisper", cursive;
  font-size: 2rem;
}

.footer-left .left-info span {
  color: var(--darkGreen);
  font-family: "Whisper", cursive;
}

.footer-left .left-info p {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.footer-left .left-list {
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
}

.footer-left .left-list ul {
  list-style-position: inside;
  color: #000;
}

.footer-left .left-list li {
  padding: 0.2rem 0;
}

.footer-left .left-list a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: all 0.3s ease-in;
}

.footer-left .left-list a:hover {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: none;
}

.footer-right {
  flex-basis: 40%;
  color: #fff;
}

.footer-right h3 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.footer-right p {
  font-size: 1rem;
  letter-spacing: 2px;
}

.footer-right input {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 6px;
}

.footer-right button {
  padding: 0.3rem;
  width: 100%;
  border-radius: 6px;
  background-color: rgb(14, 99, 14);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.3s ease-in;
  border: transparent;
}

.footer-right button:hover {
  background-color: var(--darkGreen);
}

.footer-right .footer-icon {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-icon a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  text-decoration: none;
  margin-right: 10px;
  transition: all 0.3s ease-in;
}

.footer-icon a:hover {
  background-color: #fff;
  text-shadow: none;
}

.footer-icon a i {
  font-size: 25px;
  color: #fff;
  transition: all 0.8s ease-in-out;
}

.footer-icon a:hover i {
  color: #000;
}

.footer-right p:last-child {
  margin: 2rem 0;
  color: #fff;
}
